<div class="app-home">
  <div class="container">
    <div class="card1">
      <mat-card class="example-card1">
        <mat-card-header>
          <h1 style="align-items: center; font-size: 1.5vw;">Componentes</h1>
        </mat-card-header>
        <mat-card-content>
          <h1 style="font-size:10vw; text-align: center; margin-top: 55%;">30</h1>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card2">
      <mat-card class="example-card2">
        <mat-card-header>
          <h1 style="align-items: center; font-size: 1.5vw;">Ramais</h1>
        </mat-card-header>
        <mat-card-content>
          <h1 style="font-size:10vw; text-align: center; margin-top: 55%;">20</h1>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card3">
      <mat-card class="example-card3">
        <mat-card-header>
          <h1 style="align-items: center; font-size: 1.5vw;">Documentação</h1>
        </mat-card-header>
        <mat-card-content>
          <h1 style="font-size:10vw; text-align: center; margin-top: 55%;">50</h1>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
